[*.cs]

# SYSLIB0014: Type or member is obsolete
dotnet_diagnostic.SYSLIB0014.severity = none

# CA1416: Validate platform compatibility
dotnet_diagnostic.CA1416.severity = none

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = none
